
$page-color: ghostwhite;
$page-color-dark: #111;
$copy-color: #444;
$copy-color-dark: #aaa;
$accent-color: 	crimson;
$accent-color-dark: darkslategray;
$line-color: transparentize( $copy-color, 0.2) ;
$title-color: #111;

$sidebar-width: 15em;