<header>
    <div class="site-name">

        <a id="logo" href="{{ .Site.BaseURL | absURL }}">
            <h1>
                {{ .Site.Title }}
            </h1>
        </a>
        {{ with .Site.Params.subtitle }}<p class="description">{{ . }}</p>{{ end }}
    </div>

    <nav id="nav-menu">
        <a class="{{ if or (.IsHome) (eq .Type " post") }}current{{ end }}" href="{{ .Site.BaseURL | absURL }}">Home</a>
        {{ range .Site.Menus.main }}
        <a {{ if eq .URL $.RelPermalink }}class="current" {{ end }} href="{{ .URL | absURL }}" title="{{ .Name }}">{{
            .Name }}</a>
        {{ end }}
    </nav>
</header>