{{ define "content"}}
<div class="body404">
    <div class="info404">
        <header id="header404" class="clearfix">
            <div class="site-name404"><i>404</i></div>
        </header>
        <section>
            <div class="title404">
                <p>The content you are looking for does not exist. Check the URL and try again.</p>
            </div>
            {{ partial "related" . }}
            <a rel="nofollow" href="{{ .Site.BaseURL }}" class="index404">Return Home</a>
        </section>
    </div>
</div>
{{ end }}